# Add steps that build, run tests, deploy, and more: https://aka.ms/yaml

trigger: none
#trigger:
#  branches:
#    include:
#      - feature/*
#  paths:
#    include:
#      - force-app/*

pool:
  vmImage: ubuntu-latest

variables: 
  - group: salesforce-dev-org

stages:
  - stage: SFBuild
    jobs:
      - job: SFBuildJob
      - template: ./ado_pipeline/build-deploy.yml
        parameters:
          SF_CLIENT_ID: $(SF_CLIENT_ID)
          SF_USERNAME:  $(SF_USERNAME)
          SF_LOGIN_URL: $(SF_LOGIN_URL)
          SECURE_FILE_NAME:  'server_uat.key'

  - stage: deploy
    jobs:
      - job: deployJob
        steps:
          - script: echo Hello, world!
            displayName: 'Run a one-line script'

          - script: |
              echo Add other tasks to build, test, and deploy your project.
              echo See https://aka.ms/yaml
            displayName: 'Run a multi-line script'
  - stage: test
    jobs:
      - job: testJob
        steps:
          - script: echo Hello, world!
            displayName: 'Run a one-line script'

          - script: |
              echo Add other tasks to build, test, and deploy your project.
              echo See https://aka.ms/yaml
            displayName: 'Run a multi-line script'
